conda.enabled=true
params {
	// blastn
	blastdbprefix = "data/references/nt_stx"
	blastdbsuffix = "_alleles_240513"
	perc_identity = 90
	max_target_seqs = 50000
	// parseblastn
	gapcutoff = 1500
	minlen = 0.99
	// muscle
	qname = "query"
	refprefix = "data/references/Stx"
	refsuffix = "_concatenated_aa_240124.fasta"
	// motif checker
	knownseq = "Stx2c_302_2"
}

process {
	withName: 'BLASTN' {
		conda = "bioconda::blast=2.12.0"
		cpus = 12
	}
	withName: 'PARSEBLASTN' {
		conda = "conda-forge::biopython=1.79 conda-forge::pandas=1.5.3"
		cpus = 1
	}
	withName: 'ALIGN' {
		conda = "bioconda::muscle=5.1"
		cpus = 1
	}
	withName: 'MAKETREE' {
		conda = "bioconda::fasttree=2.1.11"
		cpus = 1
	}
	withName: 'CLOSESTLEAF' {
		conda = "bioconda::ete3=3.1.1 python=3.6.15"
		cpus = 1
	}
	withName: 'CHECKMOTIF' {
		conda = "conda-forge::biopython=1.79"
                cpus = 1
	}
	withName: 'STXTYPER' {
		conda = "bioconda::ncbi-stxtyper=1.0.42"
		cpus = 12
	}
}
