conda.enabled=true

manifest {
	author = "Julie Shay"
	version = "1.0.3"
	homePage = "https://github.com/jashay90/nf-stxsubtyper"
}

params {
	// blastn
	basedir = "${projectDir}/data/references"
	blastdbprefix = "nt_stx"
	blastdbsuffix = "_alleles_240513"
	perc_identity = 90
	max_target_seqs = 50000
	// parseblastn
	gapcutoff = 1500
	minlen = 0.99
	// muscle
	qname = "query"
	refprefix = "Stx"
	refsuffix = "_concatenated_aa_240124.fasta"
	// motif checker
	knownseq = "Stx2c_302_2"
	// kma
	kmadb = "Stx_nt_all_unique_240124_k19"
	kmaopts="-ID 90 -mem_mode -ef"
	manifest = manifest
}

process {
	cpus = 1
	withLabel: multithread {
		cpus = 12
	}
	withName: 'BLASTN' {
		conda = "bioconda::blast=2.12.0"
	}
	withName: 'PARSEBLASTN' {
		conda = "conda-forge::biopython=1.79 conda-forge::pandas=1.5.3"
	}
	withName: 'ALIGN' {
		conda = "bioconda::muscle=5.1"
	}
	withName: 'MAKETREE' {
		conda = "bioconda::fasttree=2.1.11"
	}
	withName: 'CLOSESTLEAF' {
		conda = "bioconda::ete3=3.1.1 python=3.6.15"
	}
	withName: 'CHECKMOTIF' {
		conda = "conda-forge::biopython=1.79"
	}
	withName: 'STXTYPER' {
		conda = "bioconda::ncbi-stxtyper=1.0.42"
	}
	withName: 'KMA' {
		conda = "bioconda::kma=1.4.9"
	}
	withName: 'REPORT' {
		conda = "${projectDir}/reportenv.yml"
	}
	withLabel: pandas {
                conda = "conda-forge::pandas=2.2.3 conda-forge::openpyxl=3.1.0"
        }
}
